@media only screen and (max-width: 600px) {

  .name {
    position: relative;
    font-size: 2.3rem;
    font-family: "Fredericka the Great", cursive;
  }
  
  .cards{
    background-color: transparent !important;
    border: 1px dashed red;
    height: 100%;
    border-top-right-radius: 25px;
  }
  
  .number{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .text{
    font-size: 1.5rem;
    color:  rgb(231, 221, 223) !important;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .text-01{
    font-size: 1.2rem;
    color:  rgb(231, 221, 223) !important;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  #Intro {
    color: white;
    padding-top: 10vh;
  }

  #Download {
    background-color: rgb(208, 40, 63) !important;
    padding: 10px;
    border-radius: 2px;
    
  }
  

  }